.contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 4px double #e6e4e3;
  margin: 32px 0;
  background-color: #f8f8f8;
}

.contactsTitle {
  font-size: 24px;
}

.contactsItem {
  background: #ffffff;
  border: 1px solid #e6e6ed;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
}

.contactsPar {
  margin-top: 12px;
}

.contactsLink {
  margin-top: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 22px;
  color: #ff6700;
  cursor: pointer;
  transition: color 0.3s ease;
}

.contactsLink:hover {
  color: #99e600;
}
