.categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 24px 12px;
}

.categoriesNav {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.categoryContent {
  animation: fadeIn 0.3s ease-in-out;
  display: flex;
  gap: 1rem;
  flex: 1;
  min-width: 300px;
  border: 8px double #d85251;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.categoryBtn {
  transition: all 0.2s ease;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #291334;
}

.categoryBtn.active {
  border-bottom-color: #000;
  font-weight: 600;
}

.categoriesNavItem:not(:last-child)::after {
  content: '•';
  margin: 0 0.75rem;
  color: hsl(var(--muted-foreground));
  opacity: 0.5;
  font-size: 1.25rem;
  line-height: 1;
  user-select: none;
}

.subcategory {
  flex: 1;
  color: #291334;
  text-align: center;
  padding: 16px 8px;
}

.subcategoryTitle {
  margin-bottom: 8px;
  font-weight: 500;
}

.subcategoryItem {
  font-weight: 500;
}

.subcategoryItemHead {
  display: flex;
  justify-content: space-between;
}

.subcategoryItemPrice {
  color: #8c0327;
  font-weight: 600;
}

.subcategoryItemDescr {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  font-style: italic;
}
